{
    "env": {
      "target": {
        "node": 16
      }
    },
    "jsc": {
      "parser": {
        "syntax": "typescript"
      }
    },
    "module": {
      "type": "commonjs"
    },
    "sourceMaps": "inline"
  }