h3 {
    text-transform: capitalize;
    font-size: 1.6rem;
}

.decision-container {
    margin-top: 2.4rem;
    text-align: center;
}

.decision-buttons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.4rem;
    margin-top: 1rem;
}

#bearish, #bullish {
    padding: 0.4rem 1.8rem;
    cursor: pointer;
    border-radius: 7px;
    color: #1c1b35;
}

#bullish {
    background-color: #e45470;
}

#bullish:hover {
    background-color: #e1445b;
}

#bearish {
    background-color: #9494cc;
}

#bearish:hover {
    background-color: #7083cb;
}

.comments-main-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 80%;
    height: 60vh;
    margin: 6rem auto;
    overflow: hidden;
    align-items: center;
}

.comments-speedometer {
    margin: 0 auto;
    height: 16rem;
    width: 16rem;
    /*margin: 50% auto 0;*/
    /*transform: translateY(-50%);*/
}

.comments-container {
    margin: 2rem 0;
    padding: 1rem 1.2rem 2rem;
    height: 100%;
    overflow-y: scroll;
}

.comments-container::-webkit-scrollbar {
    border-radius: 10px;
    width: 6px;
}

.comments-container::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #111026;
}

.comments-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}

.comments-container::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: #555;
}

.add-comment {
    width: 80%;
    margin: 0 auto 1.2rem;
    background-color: rgba(53, 51, 124, 0.6);
    padding: 0.5rem 2rem;
    border-radius: 15px;
}

.add-comment>form>input {
    background: transparent;
    outline: none;
    border: none;
    width: 90%;
    color: #A5C9CA;
    font-size: 1.2rem;
}

.add-comment>form>button {
    background: transparent;
    border: none;
    outline: none;
    color: #A5C9CA;
    width: 10%;
    text-align: right;
    font-size: 1.3rem;
    cursor: pointer;
}

.comment {
    width: 80%;
    margin: 0 auto 1.2rem;
    background-color: rgba(53, 51, 124, 0.3);
    padding: 1rem 2rem;
    border-radius: 15px;
}

.comment-line {
    width: 90%;
    font-size: 1.15rem;
    margin-bottom: 1.2rem;
    line-height: 135%;
    word-spacing: 2px;
}

.comment-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-user {
    color: #A5C9CA;
    font-size: 1.15rem;
}


.ratio {
    margin-top: 4rem;
    text-align: center;
}

.box-list-red, .box-list-blue {
    height: 1rem;
    width: 1rem;
    text-align: right;
}

.box-list-red {background-color: #e65169}
.box-list-blue {background-color: #61dafb}

.ratio-elt {
    display: grid;
    font-size: 1.2rem;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    margin: 0.8rem auto 0;
    width: 40%;
    gap: 2.2rem;
}

.ratio-elt>span {
    text-align: left;
}

@media only screen and (max-width: 1500px) {

    .comments-main-section {
        grid-column-gap: 3rem;
    }

}

@media only screen and (max-width: 1140px) {
    .comments-main-section {
        margin-top: 4.2rem;
        grid-template-columns: 1fr;
        height: auto;
        overflow-y: visible;
        grid-row-gap: 4rem;
    }
    .comments-container {
        order: 2;
        overflow: visible;
        padding: 0;
    }
    .comments-speedometer {
        order: 1;
    }

    .comment {
        width: 100%;
        margin-bottom: 2.4rem;
    }

    .add-comment {
        width: 100%;
        margin-bottom: 2.4rem;
    }

    .decision-container>h3 {
        margin-bottom: 2.2rem;
    }

}